// Imports
@use 'colors';
@use 'flexbox';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.5s ease;
}

// Use Default System Font
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  margin: auto;
}

header {
  @include flexbox.flexbox;
  @include flexbox.flex-direction();
  @include flexbox.align-items(center);
  @include flexbox.justify-content(center);
  padding: 0 20px;
  margin-top: 40px;
}

h1 {
  font-size: 2.2rem;
  margin-bottom: 0.2em;
}

.header-info {
  margin: 0;
  padding-left: 20px;
}

.header-info p {
  color: #7F7F82;
  font-size: 1.125rem;
}

.header-icon {
  display: block;
  width: 100px;
  height: 100px;
}

.header-icon img {
  width: 100%;
  height: 100%;
}

.hero-image {
  max-width: 300px;
}

.hero-image img {
  width: 100%;
}
